#canvas-wrap {
    height: 100%;
    overflow: hidden;
    background: url(art_assets/bg1.jpg) no-repeat;
    background-size: cover;
}

#canvas-resources {
    display: none;
}

#ui-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
}

.modal {
    display: inline-block;
    position: absolute;
    top: 50px;
    background: black;
    color: white;
    opacity: 0.82;
    padding: .6em;
    border-radius: .6em;
    pointer-events: auto;
}

.modal:hover {
    opacity: 1;
}

#moves-display {
    color: #fff2f2;
}

#score-display {
    color: #e4ffe5;
}

#time-elapsed-wrap {
    color: #fcfedf;
}