#canvas-wrap {
    height: 100%;
    overflow: hidden;
    background: url(art_assets/bg1.jpg) no-repeat;
    background-size: cover;
}

#canvas-resources {
    display: none;
}

#ui-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
}

.lite-red {
    color: #fff2f2;
}

.lite-green {
    color: #e4ffe5;
}

.lite-yellow {
    color: #fcfedf;
}

.clear:after {
    content: "";
    display: block;
    clear: both;
}

/* MODAL */

.modal {
    opacity: .7;
    display: inline-block;
    position: absolute;
    pointer-events: auto;
}

.modal:hover {
    opacity: 1;
}

.modal-content {
    position: relative;
    z-index: 1;
    background: black;
    color: white;
    opacity: 0.8;
    padding: .4em;
    border-radius: .6em;
}

.modal-content:hover {
    opacity: 1;
}

.modal-top {
    position: relative;
    z-index: 2;
    opacity: .8;
    color: #ffffff;
    padding: .1em;
}

.modal-top:hover {
    opacity: 1;
}

.modal-controls, .modal-control, .modal-title, .modal-content, .modal-right {
    display: inline-block;
}

.modal-title {
    float: left;
    font-size: 1em;
    padding: 0 .5em;
    margin-left: .4em;
    background-color: black;
    border-radius: .4em;
}

.modal-controls {
    float: right;
    margin-left: .5em;
    margin-right: -.4em;
}

.modal-control {
    opacity: .8;
    font-size: .75em;
    padding: .1em .3em;
    margin: .3em;
    background-color: black;
    border-radius: .5em;
}

.modal-control:hover {
    opacity: 1;
    color: black;
    background-color: lightgray;
}

.modal-controls, .modal-title {
    margin-bottom: -.8em;
}

.modal-right {
    opacity: 0.8;
    position: absolute;
    float: right;
    z-index: 2;
    color: #ffffff;
}

.modal-right:hover {
    opacity: 1;
}

.modal-drag-handle {
    margin-top: .3em;
    margin-left: -.1em;
    border-top-right-radius: .5em;
    border-bottom-right-radius: .5em;
    width: .7em;
    height: 1.5em;
    background-color: black;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.modal-drag-handle:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.modal-btn {
    cursor: default;
}

/* MODAL */