#canvas-wrap {
    height: 100%;
    overflow: hidden;
    background: url(art_assets/bg1.jpg) no-repeat;
    background-size: cover;
}

#canvas-resources {
    display: none;
}

#ui-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
}

.lite-red {
    color: #fff2f2;
}

.lite-green {
    color: #e4ffe5;
}

.lite-yellow {
    color: #fcfedf;
}

.clear:after {
    content: "";
    display: block;
    clear: both;
}

/* MODAL */

.modal {
    opacity: .7;
    display: inline-block;
    position: absolute;
    pointer-events: auto;
}

.modal:hover {
    opacity: 1;
}

.modal-controls, .modal-control, .modal-title, .modal-left, .modal-right {
    display: inline-block;
}

/* MODAL - left */

/* MODAL -left - top */

.modal-left-top, .modal-right-top {
    font-size: .8em;
    vertical-align: bottom;
    position: relative;
    z-index: 5;
    opacity: .6;
    color: #e7f2c3;
    border-radius: .5em .5em 0 0;
}

.modal-left-top {
    background-color: #333333;
    border: black solid .1em;
}

.modal-left-top, .modal-title {
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.modal-left-top:active, .modal-title:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.modal-left-top:hover, modal-right-top:hover {
    opacity: 1;
}

.modal-title {
    float: left;
    color: lightgray;
    padding: 0 .1em;
}

.modal-controls {
    cursor: default;
    text-align: center;
    float: right;
    margin: 0 0 .1em .25em;
}

.modal-control {
    cursor: default;
    text-align: center;
    vertical-align: bottom;
    opacity: .8;
    padding: 0 .1em;
    margin: 0 .1em;
}

.modal-control:hover {
    opacity: 1;
    color: black;
    background-color: white;
}

/* MODAL - left - bottom */

.modal-left-bottom {
    padding: .2em .35em;
    background: black;
    opacity: 0.8;
    color: white;
    border-radius: 0 0 .4em .4em;
}

.modal-left-bottom:hover {
    opacity: 1;
}

/* MODAL - right */
.modal-right {
    vertical-align: top;
    opacity: 0.7;
    color: #ffffff;
}

.modal-right:hover {
    opacity: 1;
}

/* MODAL - right - top */
.modal-right-top {
    min-height: 1.45em;
}

/* MODAL - right - bottom */

.modal-right-bottom {
    background-color: black;
    border-top-right-radius: .4em;
    border-bottom-right-radius: .4em;
}

.modal-drag-handle {
    width: .55em;
    height: 1.3em;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.modal-drag-handle:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.modal-btn {
    cursor: default;
}

/* MODAL */

/* Global Options Dlg */

#global-settings-open-wrap {
    position: absolute;
    background: black;
    opacity: 0.8;
    border-radius: .5em;
    pointer-events: auto;
    bottom: 1em;
    right: 1em;
}

#global-settings-open-wrap:hover {
    opacity: 1;
}

#global-settings-open-btn {
    font-size: 1.5em;
}

#dim-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0.5;
    z-index: 1000;
    pointer-events: auto;
}

#global-options-dlg {
    opacity: 0.9;
    position: absolute;
    width: 11em;
    height: 23em;
    z-index: 1001;
    background: black;
    border-radius: .75em;
    padding: .3em;
    color: white;
    border: #191919 solid .15em;
    box-shadow: #3b3b3b .1em .1em;
    pointer-events: auto;
}

#global-options-header {
    width: 100%;
    height: 1.5em;
    position: relative;
    background-color: #161600;
    border-top-left-radius: .75em;
    border-top-right-radius: .75em;
    padding: 0 .2em;
    margin: -.2em -.2em -.2em -.2em;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

#global-options-header:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

#global-options-close-btn {
    cursor: default;
    border-radius: .3em;
    padding: 0.1em;
}

#global-options-close-btn:hover {
    background: white;
    color: black;
}

.global-options-section {
    border-radius: .5em;
    margin-bottom: -.25em;
    padding: .4em;
}

.global-options-section legend {
    font-size: 1em;
    color: white;
    display: block;
}

.global-options-section button {
    width: 100%;
}

/* Global Options Dlg */

/* Custom Buttons */
/* http://www.bestcssbuttongenerator.com/ */
button {
    border-radius: .3em;
    background-color: #191919;
    color: white;
    border: gray solid .1em;
}

button:hover {
    background-color: black;
}

button:disabled {
    background-color: #4e4e4e;
    color: #797979;
}

/* Custom Buttons */